<div class="tableview-header">
    <table>
        <thead>
            <tr>
<% for (var i in columnModel) { %>
    <%== _mad.View.render(columnHeaderTemplate, {columnModel: columnModel[i], control: control}); %>
<% } %>
            </tr>
        </thead>
    </table>
</div>
<div class="tableview-content scroll">
    <table>
        <tbody>
        </tbody>
    </table>
</div>
